In [2]:
import pandas as pd
import numpy as np

In [3]:
wine = pd.read_csv('wine.csv')
wine

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

# Utilizando NB

In [4]:
X = wine.iloc[:,1:]
y = wine.iloc[:, 0]

X_teste = X.iloc[177]
X = X.drop(177)
y_teste = y.iloc[177]
y = y.drop(177)

print(y_teste)
print(X_teste)

3
Alcohol                          14.13
Malic acid                        4.10
Ash                               2.74
Alcalinity of ash                24.50
Magnesium                        96.00
Total phenols                     2.05
Flavanoids                        0.76
Nonflavanoid phenols              0.56
Proanthocyanins                   1.35
Color intensity                   9.20
Hue                               0.61
OD280/OD315 of diluted wines      1.60
Proline                         560.00
Name: 177, dtype: float64

In [5]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X, y)
gnb.predict(np.array(X_teste).reshape(1,-1))

array([3], dtype=int64)

In [6]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()
mnb.fit(X, y)
mnb.predict(np.array(X_teste).reshape(1,-1))

array([3], dtype=int64)

## Testando com bases categóricas

In [65]:
car = pd.read_csv('car.csv')
car

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [68]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
enc.fit(car[['buying']])
car[['buying']] = enc.transform(car[['buying']])

enc.fit(car[['maint']])
car[['maint']] = enc.transform(car[['maint']])

enc.fit(car[['doors']])
car[['doors']] = enc.transform(car[['doors']])

enc.fit(car[['persons']])
car[['persons']] = enc.transform(car[['persons']])

enc.fit(car[['lug_boot']])
car[['lug_boot']] = enc.transform(car[['lug_boot']])

enc.fit(car[['safety']])
car[['safety']] = enc.transform(car[['safety']])

#Não é necessário codificar a classe, mas é possível
#enc.fit(car[['class']])
#car[['class']] = enc.transform(car[['class']])

X = car.iloc[:,:6]
y = car.iloc[:, 6]

X_teste = X.iloc[1727]
X = X.drop(1727)
y_teste = y.iloc[1727]
y = y.drop(1727)

# No entanto, é necessário que o nosso 'y' seja uma lista
y = list(np.asarray(y))

In [70]:
gnb = GaussianNB()
gnb.fit(X, y)
gnb.predict(np.array(X_teste).reshape(1,-1))

array(['vgood'], dtype='<U5')

In [71]:
mnb = MultinomialNB()
mnb.fit(X, y)
mnb.predict(np.array(X_teste).reshape(1,-1))

array(['unacc'], dtype='<U5')

In [72]:
from sklearn.preprocessing import OrdinalEncoder

iris = pd.read_csv('iris.csv', header=None)

X = iris.iloc[:,:4]
y = iris.iloc[:, 4]

X_teste = X.iloc[149]
X = X.drop(149)
y_teste = y.iloc[149]
y = y.drop(149)

print(y_teste)

Iris-virginica

In [73]:
gnb = GaussianNB()
gnb.fit(X, y)
gnb.predict(np.array(X_teste).reshape(1,-1))

array(['Iris-virginica'], dtype='<U15')

In [74]:
mnb = MultinomialNB()
mnb.fit(X, y)
mnb.predict(np.array(X_teste).reshape(1,-1))

array(['Iris-virginica'], dtype='<U15')